<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.investorregmain.InvestorRegistrationWebTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test004ClickCheckbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test007BankDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test002PanCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test001Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test006BasicDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test003Payment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test005LiveKYC</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
